/* variable colors */
:root {
    --pionk: rgb(208, 195, 101);
    --gray: #343a40;
}
/* font and color for whole page unless changed in properties */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pionk)
}
/* set up main element as a flexbox container. there is also a commented out
border for learning purposes. if you take it out of comments you can see which 
items belong within this container. */
main {
    /* border: solid black 2px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background-color: var(--gray);
}
/* is there an easier way to center this stuff or am i just crazy? */
header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
header h1 {
    font-size: 30px;
    margin-top: 20px;
}
header p {
    color:white;
    margin-top: 20px;
    text-align: center;
    padding: 0 5%;
}
/* this is the class for all the flex box containers within the main flexbox container.*/
.card {
    border: dotted 2px white;
    border-radius: 1px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    flex: 1 2 400px;
}
/* header for the cards and displacing them. */
.card h1 {
    border: solid white 1px;
    border-radius: 8px;
    position: relative;
    top: -20px;
    background-color: var(--gray);
    padding: 4px;
    margin: 0 10px;
    font-size: 25px;
}
.card p {
    text-align: left;
    padding-left: 12px;
    width: 90%
}
/* this is for the code section including its gradient background */
.cardCode {
    /* border: solid white 1px; */
    border-radius: 8px;
    background-image: linear-gradient(var(--gray), var(--pionk));
    margin: 10px;
    flex-grow: 1;
}

.card pre {
    padding: 5px 0 5px 10px;
}
/* this is for inside the code box. it highlights the coding passage
as the user clicks on any part of the code. */
.card code {
    color: white;
    font-family: monospace;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
/* interactive features start here with this opaque black highlight on the code */
code::selection {
    background-color: rgba(0, 0, 0, 0.509);
}
/* this makes the code neon green on hover */
code:hover {
    color:rgb(132, 220, 0)
}

.cardCode, .card h1 {
    transition: all 0.5s ease-in-
out;
}
.cardCode:hover {
    box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}

.card:hover h1 {
    box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}
/* interactive fun stuff ends here :( */

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
footer h1 {
    font-size: 25px;
}
footer a {
    margin: 20px 0px;
    text-decoration: none;
    color: var(--pionk);
}

@media screen and (max-width: 992px) {
    .card {
      flex: 1 1 50vh;
      
    }
    
    header {
      background: #772014;
    }
  }

@media screen and (max-width: 768px) {
    .card {
      flex: 1 1 100vh;
    }
    
    header {
      background: #8ac4ff;
    }
  } 
